<!-- Page Footer-->
<footer class="main-footer">
  <div class="container">
    <div class="row">
      <div class="about col-md-4">
        <div class="logo"><img src="assets/logo-footer.png" alt="..."></div>
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam.</p>
      </div>
      <div class="site-links col-md-4">
        <h3>Useful links</h3>
        <div class="menus d-flex">
          <ul class="list-unstyled">
            <li> <a href="index.html">Homepage</a></li>
            <li> <a href="category.html">Listings detail</a></li>
            <li> <a href="detail.html">Listing detail</a></li>
            <li> <a href="blog.html">Blog</a></li>
            <li> <a href="post.html">Post</a></li>
            <li> <a href="#">Privacy policy </a><span class="badge badge-secondary text-uppercase ml-1">Soon</span></li>
          </ul>
          <ul class="list-unstyled">
            <li> <a href="text.html">Text page</a></li>
            <li> <a href="404.html">404 - Not found</a></li>
            <li> <a href="contact.html">Contact</a></li>
            <li> <a href="#">Pricing </a><span class="badge badge-secondary text-uppercase ml-1">Soon</span></li>
          </ul>
        </div>
      </div>
      <div class="contact col-md-4">
        <h3>Contact  us</h3>
        <div class="info">
          <p>53 Broadway, Broklyn, NY 11249</p>
          <p>Phone: (020) 123 456 789</p>
          <p>Email: <a href="mailto:info@company.com">Info@Company.com</a></p>
          <ul class="social-menu lisy-inline">
            <li class="list-inline-item"><a href="#" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank" title="Pinterest"><i class="fa fa-pinterest"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank" title="Instagram"><i class="fa fa-instagram"></i></a></li>
            <li class="list-inline-item"><a href="#" target="_blank" title="Vimeo"><i class="fa fa-vimeo"></i></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <div class="copyrights text-center">
    <p>&copy; 2017 <span class="text-primary">Places.</span> All Rights Reserved.</p>
  </div>
</footer>
