<header class="header">
  <!-- Main Navbar-->
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <!-- Navbar Brand --><a href="https://appliquons-article64.com/" class="navbar-brand"><img src="assets/logo.png" alt="..."></a>
      <!-- Toggle Button-->
      <button type="button" data-toggle="collapse" data-target="#navbarcollapse" aria-controls="navbarcollapse" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span>Menu</span><i class="fa fa-bars"></i></button>
      <div id="navbarcollapse" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a href="https://appliquons-article64.com/" class="nav-link active">Acceuil</a>
          </li>
          <li class="nav-item">
            <a href="/" class="nav-link">Resultats</a>
          </li>
          <li class="nav-item">
            <a href="blog.html" class="nav-link">Blog</a>
          </li>
          <li class="nav-item">
            <a href="https://appliquons-article64.com#f568183e-c0ac-4c74-b36b-a361b1b2b9aa" class="nav-link">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
