<header class="header">
  <!-- Top bar-->
  <div class="top-bar">
    <div class="container">
      <div class="content-holder d-flex justify-content-between">
        <div class="info d-flex">
          <div class="dropdowns d-flex">
            <div class="dropdown"><a id="currency" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">USD<i class="fa fa-angle-down"></i></a>
              <div aria-labelledby="currency" class="dropdown-menu"><a href="#" class="dropdown-item">USD</a><a href="#" class="dropdown-item">EUR</a><a href="#" class="dropdown-item">JPY</a></div>
            </div>
            <div class="dropdown"><a id="language" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">EN<i class="fa fa-angle-down"></i></a>
              <div aria-labelledby="language" class="dropdown-menu"><a href="#" class="dropdown-item">EN</a><a href="#" class="dropdown-item">ES</a><a href="#" class="dropdown-item">FR</a></div>
            </div>
          </div>
          <div class="contact d-flex">
            <p><a href="mailto:info@company.com"> <i class="fa fa-envelope-o text-primary"></i><span class="d-none d-md-inline">info@company.com</span></a></p>
            <p> <i class="fa fa-phone text-primary"></i><span class="d-none d-md-inline">020 123-456-789</span></p>
          </div>
        </div>
        <div class="CTAs"><a href="#" class="login"><i class="fa fa-sign-in"></i><span class="d-none d-md-inline">Login</span></a><a href="#" class="login"> <i class="fa fa-user"></i><span class="d-none d-md-inline">Register</span></a></div>
      </div>
    </div>
  </div>
  <!-- Main Navbar-->
  <nav class="navbar navbar-expand-lg">
    <div class="container">
      <!-- Navbar Brand --><a href="index.html" class="navbar-brand"><img src="assets/logo.png" alt="..."></a>
      <!-- Toggle Button-->
      <button type="button" data-toggle="collapse" data-target="#navbarcollapse" aria-controls="navbarcollapse" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"><span>Menu</span><i class="fa fa-bars"></i></button>
      <!-- Navbar Menu -->
      <div id="navbarcollapse" class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <!-- Search-->
          <li class="nav-item"><a href="index.html" class="nav-link active">Home</a>
          </li>
          <li class="nav-item"><a href="category.html" class="nav-link">Listings             </a>
          </li>
          <li class="nav-item dropdown"><a id="navbarDropdownMenuLink" href="http://example.com" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">Pages</a>
            <div aria-labelledby="navbarDropdownMenuLink" class="dropdown-menu"><a href="detail.html" class="dropdown-item">Listing detail</a><a href="post.html" class="dropdown-item">Blog post</a><a href="text.html" class="dropdown-item">Text page</a><a href="404.html" class="dropdown-item">404 - Not found</a><a href="contact.html" class="dropdown-item">Contact</a></div>
          </li>
          <li class="nav-item"><a href="blog.html" class="nav-link">Blog</a>
          </li>
          <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a>
          </li>
        </ul><a href="#" class="btn navbar-btn btn-outline-primary mt-3 mt-lg-0 ml-lg-3">Submit a Listing</a>
      </div>
    </div>
  </nav>
</header>
