<!-- Hero Section-->
<section style="background: url('assets/listing-hero-bg.jpg') no-repeat;" class="hero listing-single-hero d-flex align-items-end">
  <div class="container">
    <div class="content d-flex justify-content-between align-items-start flex-column flex-lg-row align-items-lg-end">
    </div>
  </div>
</section>
<div class="container">
  <div class="row">
    <!-- Votes     -->
    <main class="col-lg-9">
      <div class="widget opening-hours">
        <header>
          <h3 class="has-lines"><small>Open Status</small> Opening Hours </h3>
        </header>
        <table class="table">
          <thead>
            <tr>
              <th>#</th>
              <th><strong>First Name<strong></th>
              <th>Last Name</th>
              <th>Username</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th scope="row">1</th>
              <td>Mark</td>
              <td>Otto</td>
              <td>@mdo</td>
            </tr>
            <tr>
              <th scope="row">2</th>
              <td>Jacob</td>
              <td>Thornton</td>
              <td>@fat</td>
            </tr>
            <tr>
              <th scope="row">3</th>
              <td>Larry</td>
              <td>the Bird</td>
              <td>@twitter</td>
            </tr>
          </tbody>
        </table>
        <div class="days">
          <div class="day d-flex justify-content-between"><strong>Candidat</strong><span>Vote</span><span>Vote en ligne</span><span>Total</span><span>%</span></div>
          <div class="day d-flex justify-content-between">Tikky<span>Vote</span><span>Vote en ligne</span><span>Total</span><span>%</span></div>
          <div class="day d-flex justify-content-between"><strong>Monday</strong><span>8:00 am - 6:00 pm</span><span>tuesday</span></div>
          <div class="day d-flex justify-content-between"><strong>Tuesday</strong><span>8:00 am - 6:00 pm                         </span></div>
          <div class="day d-flex justify-content-between"><strong>Wednesday</strong><span>8:00 am - 6:00 pm </span></div>
          <div class="day d-flex justify-content-between"><strong>Thursday</strong><span>8:00 am - 6:00 pm </span></div>
          <div class="day d-flex justify-content-between"><strong>Friday</strong><span>8:00 am - 6:00 pm </span></div>
          <div class="day d-flex justify-content-between"><strong>Saturday</strong><span>8:00 am - 6:00 pm </span></div>
          <div class="day d-flex justify-content-between"><strong>Sunday</strong><span>Closed</span></div>
        </div>
      </div>
    </main>
    <aside class="col-lg-3">
    <!-- About Listing-->
    <div class="block about-listing">
      <header>
        <h3 class="has-lines"><small>About</small> About the Listing</h3>
      </header>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore.</p>
    </div>
    </aside>
  </div>
</div>
